; Nombre

;
; @author Jogeiker <jogeiker1999@gmail.com>
; @copyright 2020 JDV
; @site https://www.dominio.com
;

; Configuración de la aplicacicón
[app]

; El nombre de la aplicación
name=JDVIMAGE

; Url de la aplicación
url=files.kecuki.com

; El contacto administrativo
admin=soporte@jdv.com

; El nombre del servidor de producción
servername=files.kecuki.com

; Versión de la aplicación
version=1.1

; El puerto en el que se lanza la aplicación
port=3112


; Servidor de correo smtp
; Configuración para www.kecuki.com

[mail.smtp]

host=host_smpt
port=587
user=user_smtp
password=password_smtp
secure=false

; Configuración para las vistas
; Selecciona el motor de plantillas y su configuración
[views]

engine=hbs

; Configuración del motor de plantillas handlebars
; @link https://handlebarsjs.com/
[views.hbs]

; Carpeta que contiene las vistas
folder=views
; Carpeta que contiene las vistas parciales dentro de la carpeta principal de vistas
partials=partials
; El Layout por defecto
defaultLayout=false
; La extensión de los archivos de vistas
extension=html

; Frontend
[frontend.development]
url=http://localhost:{{aqui poner el puerto}}

[frontend.production]
url=https://{{aqui la url de produccion}}

; Configuración de la conexión a Mongo
[mongo.development]

server=localhost
database=JDVIMAGEDB
port=27017

[mongo.production]

server=mongo-db.cluster-clidhjqvcjng.eu-west-3.docdb.amazonaws.com
database=JDVIMAGEDB
port=27017
username=adminmongo
password=JkVTh71DQmP%AA1YFdVP

; Tamaño maximo de subida de archivos

[upload]

maxSize=50mb